<div class="container">
  <div class="container-header">
    <div class="select-div">
      <label for="status">Status</label>
      <select  id="status" name="status" [(ngModel)]="selectedValue" (click)="selectStatus()">
        <option value="0">All statuses</option>
        <option *ngFor = "let status of getAllStatuses()"  [value]="status.WFSTATEID">{{status.name["3"]}}</option>
      </select>
    </div>
    <div class="button-div">
      <button>create new intervention</button>
    </div>
  </div >
  <table>
    <thead id="thead">
    <tr>
      <th>Code of the Intervention <i class="fas fa-sort"></i></th>
      <th>Short Name <i class="fas fa-sort"></i></th>
      <th>Title <i class="fas fa-sort"></i></th>
      <th>Countr <i class="fas fa-sort"></i></th>
      <th>Status <i class="fas fa-sort"></i></th>
      <th>Last Update By <i class="fas fa-sort"></i></th>
      <th>Last Update On <i class="fas fa-sort"></i></th>
    </tr>
    </thead>
    <tbody id="tbody" *ngFor = "let project of getAllProjects()" >
      <th>{{project.InterventionCode}}</th>
      <th>{{project.ShortName}}</th>
      <th>{{project.Title}}</th>
      <th>{{project.InterventionCountryID | country}}</th>
      <th>{{project.workflowStateId | status}}</th>
      <th>{{project.UpdatedUserID | user }}</th>
      <th>{{project.DateUpdated | date : "d/M/yy"}}</th>
    </tbody>
  </table>
</div>
