<div class="search-container">
  <div class="search-container-header">
    <h3>Search</h3>
    <i style='font-size:24px' class='fas'>&#xf03b;</i>
  </div>

  <div class="search-container-forms">
    <form action="" [formGroup]="filterForm">
      <div class="search-button-div">
        <button class="search-button" (click)="onSearch()">Search</button>
        <input class="reset-button" type="reset" value="Reset" (click)="reset()">
      </div>
      <label for="countries" class="block-label">Country</label>
      <select id="countries" name="cars" formControlName="countryId">
        <option value="0">--Select One--</option>
        <option *ngFor="let country of countries" [value]="country.CountryId">{{country.name["3"]}}</option>
      </select>
      <label for="keyword" class="block-label">Keyword</label>
      <input type="text" id="keyword" name="keyword" class="block-input" formControlName="keyword">
      <input type="checkbox" id="code" name="code" value="code" formControlName="codeCheckbox">
      <label for="code">Code of the intervention</label><br>
      <input type="checkbox" id="title" name="title" value="title" formControlName="titleCheckbox">
      <label for="title">Title of the intervention</label><br>
      <input type="checkbox" id="short-name" name="short-name" value="short-name" formControlName="shortName">
      <label for="short-name">Intervention Short Name</label><br>
      <input type="checkbox" id="description" name="description" value="description" formControlName="description">
      <label for="description">Intervention Description</label><br><br>
      <h3>Actual Start Date</h3>
      <label for="from" class="block-label">From</label>
      <input type="date" id="from" name="start" class="block-input" formControlName="startDate">
      <label for="to" class="block-label">To</label>
      <input type="date" id="to" name="start" class="block-input" formControlName="endDate">
    </form>
  </div>
</div>
